body {
  font-family: Arial, sans-serif;
  background-color: #ddcbcb00;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(42, 56, 26);
  color: cornsilk;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
}

#search {
  margin-bottom: 20px;
}

#search input {
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 240px);
  margin-right: 10px;
}
 
#search button {
  padding: 10px;
  font-size: 16px;
}

#resetButton {
  padding: 10px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

#resetButton:hover {
  background-color: #d32f2f;
}

#results {
  background-color: #4b3838;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#firearms-list {
  list-style-type: none;
  padding: 0;
}

.firearmItem {
  padding: 10px;
  border-bottom: 2px solid #ff0000;
}

.firearmItem:last-child {
  border-bottom: none;
}

.firearmItem img {
  width: 950px; 
  height: 450px; 
  object-fit: absolute; 
}
